@import "index.css";
@import "chart.css";
@import "last.css";
@import "onair.css";
@import "recommend.css";

a {
  text-decoration: none;
  color: #000000;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

main {
  animation: fadeIn 0.5s ease-in-out;
}

.scroll {
  position: fixed;
  z-index: 500;
  transform: translateX(9px) scaleX(-4.5px);

  top: 0;
  left: 0;
  right: 0;
  padding-top: 10px;

  background-color: white;
  border-bottom: 1px solid #f8f8f8;
}

.toptop {
  cursor: pointer;
}
